TimeTable/src/main/xml/WSDL.xml

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:description 
    targetNamespace="http://www.khveras.com/TimeTable.wsdl20" 
    xmlns:xsTimeTable="http://www.khveras.com/TimeTable.xsd" 
    xmlns:wsdl="http://www.w3.org/ns/wsdl" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.khveras.com/TimeTable/schema"
		xmlns:xsd="http://www.khveras.com/TimeTable.xsd">
			<xs:import schemaLocation="TypesForTT.xsd" namespace="http://www.khveras.com/TimeTable"/>
			<xsd:element name="addTrip" type="trip" />
			<xsd:element name="editTrnDestination">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="trnID" type="vehicleID" />
						<xsd:element name="newDestination" type="station" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addBus" type="trip" />
			<xsd:element name="deleteBus" type="vehicleID" />
			<xsd:element name="getTrainByDest" type="station" />

		</xsd:schema>

    </wsdl:types>        
    <wsdl:interface name="TicketAgent">
        <wsdl:operation name="listFlights" 
	pattern="http://www.w3.org/@@@@/@@/wsdl/in-out">
            <wsdl:input element="xsTicketAgent:listFlightsRequest"/>
            <wsdl:output element="xsTicketAgent:listFlightsResponse"/>
        </wsdl:operation>                
        <wsdl:operation name="reserveFlight" 
	pattern="http://www.w3.org/@@@@/@@/wsdl/in-out">
            <wsdl:input element="xsTicketAgent:reserveFlightRequest"/>
            <wsdl:output element="xsTicketAgent:reserveFlightResponse"/>
        </wsdl:operation>
    </wsdl:interface>
</wsdl:description>
