JaxWsBase/src/main/resources/TimeTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wns="http://www.khveras.com/TimeTableService"
	xmlns:tsn="http://www.khveras.com/TimeTableSchema"
	targetNamespace="http://www.khveras.com/TimeTableService">


	<!-- TYPES BLOCK -->

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.khveras.com/TimeTable/"
			xmlns:tps="http://www.khveras.com/TimeTable"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.khveras.com/TimeTableSchema">
			<xsd:import schemaLocation="TypesForTT.xsd"
				namespace="http://www.khveras.com/TimeTable" />
			<xsd:element name="operationResultResponse" type="xs:string" />
				
			<xsd:element name="addTripRequest" type="tps:trip" />
			
			<xsd:element name="editTrnDestRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="trnID" type="tps:vehicleID" />
						<xsd:element name="newDestination" type="tps:station" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addBusRequest" type="tps:trip" />
			
			<xsd:element name="deleteBusRequest" type="tps:vehicleID" />
			
			<xsd:element name="getTrnByDestRequest" type="tps:station" />
			<xsd:element name="getTrnByDestResponse" type="tps:trip" />
		</xsd:schema>
	</wsdl:types>


	<!-- MESSAGE DEFINITIONS -->

	<wsdl:message name="addTripRequestMsg">
		<wsdl:part name="addTripInputPart" element="tsn:addTripRequest" />
	</wsdl:message>
	
	<wsdl:message name="addTripResponseMsg">
		<wsdl:part name="addTripOutputPart" element="tsn:operationResultResponse" />
	</wsdl:message>
	
	<wsdl:message name="editTrnDestRequestMsg">
		<wsdl:part name="editTrnDestInputPart" element="tsn:editTrnDestRequest" />
	</wsdl:message>
	
	<wsdl:message name="editTrnDestResponseMsg">
		<wsdl:part name="editTrnDestinationOutputPart" element="tsn:operationResultResponse" />
	</wsdl:message>
	
	<wsdl:message name="addBusRequestMsg">
		<wsdl:part name="addBusInputPart" element="tsn:addBusRequest" />
	</wsdl:message>
	
	<wsdl:message name="addBusResponseMsg">
		<wsdl:part name="addBusOutputPart" element="tsn:operationResultResponse" />
	</wsdl:message>
	
	<wsdl:message name="deleteBusRequestMsg">
		<wsdl:part name="deleteBusInputPart" element="tsn:deleteBusRequest" />
	</wsdl:message>
	
	<wsdl:message name="deleteBusResponseMsg">
		<wsdl:part name="deleteBusOutputPart" element="tsn:operationResultResponse" />
	</wsdl:message>
	
	<wsdl:message name="getTrnListByDestRequestMsg">
		<wsdl:part name="getTrnByDestInputPart" element="tsn:getTrnByDestRequest" />
	</wsdl:message>

	<wsdl:message name="getTrnListByDestResponseMsg">
		<wsdl:part name="getTrnByDestOutputPart" element="tsn:getTrnByDestResponse" />
	</wsdl:message>


	<!-- PORTTYPE BLOCK -->

	<wsdl:portType name="timeTablePortType">
		<wsdl:operation name="addTrip">
			<wsdl:input name="addTripInput" message="wns:addTripRequestMsg" />
			<wsdl:output name="addTripOutput" message="wns:addTripResponseMsg"/>
		</wsdl:operation>
		
		<wsdl:operation name="editTrainDestination">
			<wsdl:input name="editTrnDestInput" message="wns:editTrnDestRequestMsg" />
			<wsdl:output name="editTrnDestOutput" message="wns:editTrnDestResponseMsg"/>
		</wsdl:operation>
		
		<wsdl:operation name="addBus">
			<wsdl:input name="addBusInput" message="wns:addBusRequestMsg" />
			<wsdl:output name="addBusOutput" message="wns:addBusResponseMsg"/>
		</wsdl:operation>
		
		<wsdl:operation name="deleteBus">
			<wsdl:input name="deleteBusInput" message="wns:deleteBusRequestMsg" />
			<wsdl:output name="deleteBusOutput" message="wns:deleteBusResponseMsg"/>
		</wsdl:operation>
		
		<wsdl:operation name="getTrainListByDestination">
			<wsdl:input name="getTrnListByDestInput" message="wns:getTrnListByDestRequestMsg" />
			<wsdl:output name="getTrnListByDestOutput" message="wns:getTrnListByDestResponseMsg"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	
	<!-- BINDING BLOCK -->

	<wsdl:binding name="timeTableBinding" type="wns:timeTablePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		
		<wsdl:operation name="addTrip">
			<soap:operation soapAction="http://www.khveras.com/TimeTableService/addTrip" />
			<wsdl:input name="addTripInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addTripOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="editTrainDestination">
			<soap:operation soapAction="http://www.khveras.com/TimeTableService/editTrainDestination" />
			<wsdl:input name="editTrnDestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="editTrnDestOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="addBus">
			<soap:operation soapAction="http://www.khveras.com/TimeTableService/addBus" />
			<wsdl:input name="addBusInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addBusOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="deleteBus">
			<soap:operation soapAction="http://www.khveras.com/TimeTableService/deleteBus" />
			<wsdl:input name="deleteBusInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteBusOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getTrainListByDestination">
			<soap:operation soapAction="http://www.khveras.com/TimeTableService/getTrainByDestination" />
			<wsdl:input name="getTrnListByDestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTrnListByDestOutput">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	
	<!-- SERVICE BLOCK -->

	<wsdl:service name="timeTableService">
		<wsdl:port name="timeTableService-soap11" binding="wns:timeTableBinding">
      		<soap:address location="http://www.khveras.com/TimeTableService"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
